<nav class="navbar">
    <a href="index.html" class="nav-brand">
        <div class="logo-icon">
            <i class="fas fa-file-pdf"></i>
        </div>
        PDF Tools
    </a>
    
    <ul class="nav-menu">
        <li><a href="index.html" class="nav-link active">PDF to Image</a></li>
        <li><a href="pages/tools.html" class="nav-link">All Tools</a></li>
        <li><a href="pages/about.html" class="nav-link">About</a></li>
        <li><a href="pages/contact.html" class="nav-link">Contact</a></li>
    </ul>
</nav>
