<nav class="navbar">
    <a href="index.html" class="nav-brand">
        <div class="logo-icon">
            <i class="fas fa-file-pdf"></i>
        </div>
        <span>PDF Tools Pro</span>
    </a>
    
    <ul class="nav-menu">
        <li><a href="index.html" class="nav-link active">
            <i class="fas fa-file-pdf"></i> PDF to Images
        </a></li>
        <li><a href="image-to-pdf.html" class="nav-link">
            <i class="fas fa-file-image"></i> Images to PDF
        </a></li>
        <li><a href="#" class="nav-link">
            <i class="fas fa-info-circle"></i> About
        </a></li>
        <li><a href="#" class="nav-link">
            <i class="fas fa-question-circle"></i> Help
        </a></li>
    </ul>
</nav>
